# Ignore Python virtual environments
ai/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# VSCode settings
.vscode/

# Environment & secrets
.env
.env.*

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# macOS
.DS_Store